//Variables

$maincolor: #f77100;
$countrastcolor: #ffcca2;

@mixin light-text-dark-bg {
    color: $countrastcolor;
    background-color: $maincolor;
}
@mixin contrast-black-bg{
    color: $countrastcolor;
    background-color: black;
}
nav{
    @include light-text-dark-bg;
    display: flex;
    justify-content: center;
    height: 50px;
}
a {
    @include light-text-dark-bg;
    font-size: 45px;
    text-decoration: none;
}
main, input{
    @include contrast-black-bg;
    font-size: 1.1em;
}
img {
    width: 300px;
    height: 300px;
    display: inline-block;
    object-fit: cover;
}
form{
    @include light-text-dark-bg;
    padding: 20px;
}
button{
    color: black;
    background-color: $maincolor;
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 5px;

}
body{
    background-color: yellow;
}
input {
    padding:10px;
    width: 20%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}
